// @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
    color: white;
    font-family: 'Titillium Web', sans-serif;
    background-color: #1b1b1d;
}

.card {
    // background-color: rgba($color: #20dad8, $alpha: .25);
    background-color: #4e356e;
    box-shadow: rgba(50,50,93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.container2 {
    width: min(1100px, 90%);
}

.form-contact {
    input, textarea {
        border: 1px solid white;

        &::placeholder {
            color: white;
        }
    }
}

i {

    &.ocultar {
        animation: fei-aut .5s forwards;
    }
}

.shadow-custom {
    box-shadow: 0px 3px 12px black;
}

@keyframes fei-aut {
    to {
        opacity: 0;
        display: none;
    }
}